.boxHeader {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.4em;
  background: #fefeff;
  border-bottom: 2px solid #cbc5d6;
  z-index: 2;
}

.boxHeader .boxHeaderTitle {
  font-size: 1.6em;
  color: #170c45;
}
